// Create by code generator  {{.CreateTime}}
package param

import (
	"time"
)
type {{.TableNameUpperCamel}}Param struct {
	{{range $field := .Fields}}{{ .FieldName }}  {{ .FieldType }} `{{.FieldFormTag}} {{ .FieldJsonTag }}` // {{ .Comment }}
	{{end}}
	PageNum 	int `form:"page" json:"page"`
	PageStart 	int `form:"start" json:"start"`
	PageSize 	int `form:"size" json:"size"`
}
